setr ox:locale "en"
setr ox:userLocales 0

setr ox:primaryColor violet
setr ox:primaryShade 7

## INVENTORY

setr inventory:framework "mnr"
set inventory:accounts ["money"]
setr inventory:target false

setr inventory:enablekeys [249]
setr inventory:keys ["F2", "K", "TAB"]

setr inventory:itemnotify true
setr inventory:weaponnotify true
setr inventory:giveplayerlist true
setr inventory:screenblur false
setr inventory:imagepath "nui://ox_inventory/web/images"        # TODO: change path

setr inventory:slots 50
setr inventory:weight 30000

setr inventory:weaponanims true
setr inventory:aimedfiring false
setr inventory:autoreload false

setr inventory:dropprops true
setr inventory:dropmodel "prop_med_bag_01b"

setr inventory:dropmarker {
    "type": 2,
    "colour": [150, 30, 30],
    "scale": [0.3, 0.2, 0.15]
}
 
setr inventory:shopmarker {
    "type": 29,
    "colour": [30, 150, 30],
    "scale": [0.5, 0.5, 0.5]
}
 
setr inventory:evidencemarker {
    "type": 2,
    "colour": [30, 30, 150],
    "scale": [0.3, 0.2, 0.15]
}
 
setr inventory:craftingmarker {
    "type": 2,
    "colour": [150, 150, 30],
    "scale": [0.3, 0.2, 0.15]
}