## SENSIBLE INFORMATIONS
sv_licenseKey "{{svLicense}}"
{{serverEndpoints}}
set steam_webApiKey "none"
set mysql_connection_string "{{dbConnectionString}}"

## SERVER BASIC INFO
sv_hostname "{{serverName}}"
sets sv_projectName "{{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets tags "roleplay, monarch, newgen, mnr"
sets locale "root-AQ"

load_server_icon mnrLogo.png

## SERVER SETUP
sv_enforceGameBuild 3258
sv_maxClients {{maxClients}}
# sv_endpointPrivacy

## CFX RESOURCES SETTINGS
set resources_useSystemChat true

ensure [cfx]

## STAFF
{{addPrincipalsMaster}}