## SENSIBLE INFORMATIONS
sv_licenseKey "{{svLicense}}"
{{serverEndpoints}}
set steam_webApiKey "none"

## DATABASE CONFIGURATION
set mnr_sql:api_timeout 30000
set mnr_sql:connect_attempts 5

set mnr_sql:host "{{dbHost}}"
set mnr_sql:port "{{dbPort}}"
set mnr_sql:user "{{dbUsername}}"
set mnr_sql:password "{{dbPassword}}"
set mnr_sql:database "{{dbName}}"

set mnr_sql:charset "utf8mb4"
set mnr_sql:connection_limit 10
set mnr_sql:queue_limit 200
set mnr_sql:connect_timeout 10000

## SERVER BASIC INFO
sv_hostname "{{serverName}}"
sets sv_projectName "{{serverName}}"
sets sv_projectDesc "{{recipeDescription}}"
sets tags "roleplay, monarch, newgen, mnr"
sets locale "root-AQ"

load_server_icon mnrLogo.png

## SERVER SETUP
sv_enforceGameBuild 3258
sv_maxClients {{maxClients}}
sv_endpointPrivacy true

## CFX RESOURCES SETTINGS
set resources_useSystemChat true

## [EXT CFG] Monarch Framework convars
exec mnr.cfg

## Cfx Base Resources
ensure [cfx]

## Database Resource
ensure mnr_sql

## Ox Resources [Depencies]
ensure ox_lib

## Monarch Resources
ensure mnr_core

## STAFF
{{addPrincipalsMaster}}